fastapi==0.65.2
python-multipart==0.0.5
gunicorn==20.1.0
uvicorn==0.14.0
requests==2.25.1
Babel==2.9.1
word2number==1.1
spacy==3.1.1
python-dotenv==0.18.0
nltk==3.6.2
inflect==5.3.0
aiohttp==3.7.4.post0
